<div class="title well well-sm">
<h3 class="text-center "> My all Albums</h3>
<%= link_to "Create New Album", new_album_path, class: "btn btn-sm btn-under-well"%>
</div>

  <% @albums.each do |album| %>
    <div class="photo-block">
      <%= link_to (image_tag album.cover_photo_url, alt: "img_url", class: "my-albums") , photos_url(album_id: album.id), title: "Click Me to See the Photos"%>
        <div class="owner-details">
        <strong style="float: left; padding-left:9px">Album: <%= album.name%></strong>
        <%= link_to 'Edit', edit_album_path(album) %>
        <%= link_to 'Destroy', album, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
    </div>
  <% end %>
